# Python Caches
__pycache__/
*.py[cod]
*$py.class

# Virtuelle Umgebungen (Niemals hochladen!)
venv/
env/
.env/

# Sphinx Build-Dateien (Verhindert Konflikte)
docs/build/

# IDE & OS Dateien
.vscode/
.idea/
.DS_Store